# Example of oAESis configuration file (oaesis.cnf)
#
# The file should go in one of the following directories:
#
# The same as oaesis.prg
# <boot drive>:\mint\
# <boot drive>:\multitos\
# <boot drive>:\
#
# The following commands are supported:
#
# Enable / disable realtime moving of windows
# realmove enabled
#
# Enable / disable realtime sizing of windows
# realsize enabled
#
# Enable / disable realtime scrolling of windows
# realslide enabled
#
# Enable / disable  application name in window mover
# applname disabled
#
# Set font id
# font 1
#
# Set font size
# fontsize 9
#
# Enable / disable graf_growbox
# growbox enabled
#
# Enable / disable graf_movebox
# movebox enabled
#
# Enable / disable graf_shrinkbox
# shrinkbox enabled
#
# Start shell program (desktop)
# shell d:\nytto\desktop\thing\thing\thing.app
#
# Start program
# run "d:\nytto\test\gembench\gembench.prg --help"
#
# Set environment variable
# setenv PATH c:\bin
#
# Set accessory path
# accpath c:\accs
